<!DOCTYPE html>
<html>
  <head>
    <title>Bill Heavey, Writer</title>
    <meta name="description" content="A portfolio of Bill Heavey's writing, books, speaking engagements, and other preoccupations.">
    <link id="favicon" rel="icon" href="https://cdn.gomix.com/d6ccccb8-d5f8-47a7-8b36-bd8a9af720c2%2FTyperIcon.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">
  </head>
  <body>
    
  <!--  HEADER -->
    <wrapper id="header">
    <header>
      <div id="logo">
        <img src="https://cdn.glitch.com/d6ccccb8-d5f8-47a7-8b36-bd8a9af720c2%2FHeaveyLogoSmall4.jpg?1503595600272" />
      </div>
      <div id="hero">
        <div id="subHero"><h1>Bill Heavey</h1></div>
        <h2>Traveler.Angler.Hunter.Writer.</h2>
      </div>
      <div id="socialIcons">
          <a href="http://www.fieldandstream.com/blogs/a-sportsmans-life" target="blank">  <img class = "social" src="https://cdn.glitch.com/345e5e7b-6730-4268-82f7-755c90485a72%2Fblog3.png?1505495272130" /></a>
          <a href="https://www.facebook.com/billheaveywrites/" target="_blank"><img class="social" src="https://cdn.glitch.com/345e5e7b-6730-4268-82f7-755c90485a72%2Ffacebook3.png?1505496304569" /></a>
          <a href="https://twitter.com/bill_heavey" target="_blank"><img class= "social" src="https://cdn.glitch.com/345e5e7b-6730-4268-82f7-755c90485a72%2Ftwitter3.png?1505496073861" /></a>
          <a href="mailto:bill@billheavey.com">  <img class = "social" src="https://cdn.glitch.com/345e5e7b-6730-4268-82f7-755c90485a72%2Femail3.png?1505496070523" /></a>
      </div>
    </header>
    </wrapper>
    <!-- +++ SPLASH +++  -->
  <div id="splash">
    <img id="potomac" src="https://cdn.glitch.com/d6ccccb8-d5f8-47a7-8b36-bd8a9af720c2%2Fpotomac222.jpg?1494005612431" />
     <nav>
        <a href="https://tart-mistake.glitch.me/">My Books</a>
        <a href="speaking.html">Speaking</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>
     </nav>    
  </div>
    
    <!-- FOOTER -->

<footer>
  <div id="designedBy">
    <p id="noPipe"> Designed &amp; built by Michelle Gienow      </p>
    <p><a href="http://madewithloveinbaltimore.org">  Made with &hearts; in Baltimore</a></p>
  </div>
</footer>

<script type="text/javascript" src="/client.js"></script>
</body>

</html>
  