body, p, li, ul, nav, header, footer, h1, h2, h3 {
  margin:0;
  padding:0;
  font-family: "Special Elite", serif;
  display: flex;
  flex-direction: column;
}
a{
  text-decoration: none;
  color: #282828;
}
a:hover {
  color:#C88239;
}

/* ======= HEADER ====== */

header {
  width: 96vw;
  margin: 1em auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero h1{
  font-size: 4em;
  font-family: "Merriweather", serif;
  font-weight: 100;
  color: #C88239;
}
#hero p{
  font-size: 2em;
  padding-top: 0.5em;
  color: #4d4d4d;
  font-family: "Special Elite", serif;
}

/* ====== SPLASH PAGE ====== */
#splash {
  flex: 1 0 auto;
}
#potomac {
width: 100vw;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 65vw;
  padding-top: 2em;
  margin: 0 auto;
  font-size: 1.5em;
}






/*   ====== FOOTER ======== */
#designedBy {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
footer a{
  color: #C88239;
}
footer {
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 4em auto 0 auto;
  bottom: 0;
}

footer p{
  color: gray;
  font-size: smaller;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', Arial, sans-serif;
}
footer p:nth-child(2) {
  justify-content: flex-start;
  margin-left: 5px;
}
#noPipe {
  display: flex;
  flex-direction: row;
}
@media (max-width: 40em){

  footer{
    flex-direction: column;
    padding: 0.5em 0;
  }
  footer p{
    justify-content: center !important;
    align-items: center !important;
    margin: 0;
    font-size: 0.7em;
  }
  #designedBy {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 40em){
  #noPipe::after {
    content: "|";
    padding-left: 5px;
  }

}
